@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");

body {
  font-size: 16px;
  font-family: "robotoregular", serif, sans-serif;
}
#bloc-page {
  margin: 100px;
  //   // width: 1240px;
}

h1 {
  text-align: center;
  color: #ed6454;
  font-size: 36px;
  font-family: "DM Sans", sans-serif;
  text-transform: capitalize;
}
h2 {
  font-size: 1.4em;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}

.logo {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  &__img {
    height: 25px;
  }
}

// #search-area {
//   width: 100%;
//   // margin-left: 100px;
// }

#search-bar {
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 69px;
  // color: red;
  border-radius: 5px;
  // color: #000000;
  background-color: #e7e7e7;
  padding: 0 15px 0 15px;
}

.search-text {
  width: 500px;
  padding-right: 15px;
  font-size: 18px;
  font-style: normal;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  border: 0;
  background: none;
}

#tag-area {
  display: flex;
  margin-top: 25px;
  margin-bottom: 15px;
}

.ingredient-tag {
  background: #3282f7;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
}
.appliance-tag {
  background-color: #68d9a4;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
}
.ustensil-tag {
  background-color: #ed6454;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
}

.tag {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  // min-height: 30px;
  font-size: 14px;
  font-style: normal;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #ffffff;

  // &__icon {
  //   width: 20px;
  //   height: 20px;
  // }
}

#filter-area {
  display: flex;
  // flex-wrap: wrap;
  justify-content: flex-start;
  // align-content: flex-start;
}

.filter {
  border-radius: 5px;
  margin-top: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &__text {
    font-weight: 700;
    // justify-items: left;
    font-family: "Lato", sans-serif;
    border: 0;
  }
}

.filter-ingredients {
  position: relative;
  // border-radius: 5px;
  background-color: #3282f7;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.btn-ingredients,
.btn-appliance,
.btn-ustensils {
  min-width: 170;
  height: 70px;
  padding: 15px;
  background-color: transparent;
  outline: transparent;
  border: transparent;
  font-size: 1.3em;
  font-family: "Lato", sans-serif;
  color: #fff;
  cursor: pointer;
}

.search-text {
  margin-left: 15px;
  font-size: 1.3em;
  font-family: "Lato", sans-serif;
  color: #fff;
}

.chevron {
  position: absolute;
  top: 45px;
  right: 20px;
}

.icon {
  width: 15px;
}

#ingr-chevron-up, #applia-chevron-up, #ust-chevron-up{
  display: none;
}

.text-search {
  display: flex;
  flex-flow: column wrap;
  // width: 1000px;
  // max-height: 900px;
  // margin-top: 10px;
  padding-left: 0;
  padding-top: 20px;
}

.ingr-list, .applia-list, .ust-list{
  display: none;
}

.text-search li {
  list-style: none;
  font-size: 1.4em;
  font-family: "Lato", sans-serif;
  text-align: left;
  color: #fff;
  padding-right: 15px;
  padding-left: 15px;
  height: 22px;
  // max-width: 200px;
}

.filter-appliance {
  position: relative;
  background-color: #68d9a4;
}

.filter-ustensils {
  position: relative;
  background-color: #ed6454;
}

//RECETTES
#recipes-list {
  // width: 1240px;
  display: flex;
  // justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.recipe-block {
  width: 380px;
  height: 364px;
  background-color: #e7e7e7;
  border-radius: 5px;
  padding: 0;
  margin-top: 50px;
  margin-right: 40px;
  // list-style: none;
  &__img {
    width: 380px;
    height: 178px;
    background-color: #c7bebe;
    border-radius: 5px 5px 0 0;
  }
}

.recipe__titleTime {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px 0 20px;
  font-family: lato;
  &__title {
    max-width: 240px;
    font-size: 18px;
    font-weight: 400;
  }
  &__time {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    &--icon {
      padding-right: 10px;
    }
  }
}

.ingredients-description {
  display: flex;
  justify-content: space-between;
  margin-right: 18px;
  margin-left: 20px;
}

// .ingredients {

// }
.ingredients-list {
  margin: 0;
  width: 171px;
  height: 105px;
  padding: 0;
  list-style-type: none;
}

.ingredient {
  padding: 0;
  padding-right: 10px;
  font-size: 12px;
  font-family: "lato", sans-serif;
  font-weight: 700;
  &__quantity,
  &__unit {
    font-weight: 400;
  }
}

.description {
  width: 175px;
  height: 100px;
  font-size: 12px;
  font-family: "roboro", sans-serif;
  padding: 0;
  margin: 0;
  overflow: hidden;
  flex: 1;
  // text-overflow: ellipsis;
  margin: 0;
  &__text {
    width: 175px;
    height: 109px;
    margin: 0;
    // display: block;
    // -webkit-line-clamp: 8;
    // overflow: hidden;
    // text-overflow: ellipsis;
    // white-space: nowrap;
  }
}
