@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");

body {
  font-size: 16px;
  font-family: "robotoregular", serif, sans-serif;
}
#bloc-page {
  margin: 100px;
  //   // width: 1240px;
}

h1 {
  text-align: center;
  color: #ed6454;
  font-size: 36px;
  font-family: "DM Sans", sans-serif;
  text-transform: capitalize;
}
h2 {
  font-size: 1.4em;
  text-transform: capitalize;
}

.logo {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  &__img {
    height: 25px;
  }
}

// #search-area {
//   width: 100%;
//   // margin-left: 100px;
// }

#search-bar {
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 69px;
  // color: red;
  border-radius: 5px;
  // color: #000000;
  background-color: #e7e7e7;
  padding: 0 15px 0 15px;
}

.search-text {
  width: 500px;
  padding-right: 15px;
  font-size: 18px;
  font-style: normal;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  border: 0;
  background: none;
}

#tag-area {
  display: flex;
  margin-top: 25px;
  margin-bottom: 15px;
}

.ingredient-tag {
  background: #3282f7;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
}
.appliance-tag {
  background-color: #68d9a4;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
}
.ustensil-tag {
  background-color: #ed6454;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
}

.tag {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  // min-height: 30px;
  font-size: 14px;
  font-style: normal;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #ffffff;

  // &__icon {
  //   // width: 20px;
  //   // height: 20px;
  // }
}

#filter-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // align-content: flex-start;
}

.filter {
  max-width: 40%;
  // position: absolute to-upper-case($string: "");
    margin-top: 20px;
  display: flex;
  justify-content:left

  //   // border-radius: 5px;
  //   // color: #FFFFFF;
  // padding-right: 18px;
  //   // background-color: #3282F7;
  &__text {
    // font-weight: 700;
    // justify-items: left;
    font-family: "Lato", sans-serif;
    border: 0;
  }
}

#filter-area {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-filter {
  // max-width: 1000px;
  // border-radius: 5px;
  padding-left: 15px;
  // margin-right: 35px;

  color: #ffffff;
  border: none;
  cursor: pointer;
}
.btn-ingredients {
  background: #3282f7;
  // position: absolute to-upper-case($string: "");
}

// .input-search-ingr{
//   position: absolute to-upper-case($string: "");
// }

.btn-appliance {
  background-color: #68d9a4;
  // position: absolute to-upper-case($string: "");
}
#ustensils {
  border-radius: 5px;
  background-color: #ed6454;
  display: flex;
}

.icon {
  margin-left: 10px;
}

.chevron-down {
  margin-right: 20px;
}

.filter__text {
  // position: absolute;
  font-size: 1.4em;
  font-family: "Lato", sans-serif;
  color: #fff;
  background-color: transparent;
}

// .search-element{
// // width: 800px;
// }

#ingr-search-list {
  display: flex;
  flex-wrap: wrap;
}
.text-search {
  list-style-type: none;
  // max-width: 800px;
  max-height: 400px;
  column-width: 200px;
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // padding-left: 10px;

  // flex-wrap: wrap;
}
.text-search li {
  font-size: 1.4em;
  font-family: "Lato", sans-serif;
  text-align: left;
  // float: left;
  // padding: 18px;
}

#recipes-list {
  // width: 1240px;
  display: flex;
  // justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.recipe-block {
  width: 380px;
  height: 364px;
  background-color: #e7e7e7;
  border-radius: 5px;
  padding: 0;
  margin-top: 50px;
  margin-right: 40px;
  // list-style: none;
  &__img {
    width: 380px;
    height: 178px;
    background-color: #c7bebe;
    border-radius: 5px 5px 0 0;
  }
}

.recipe__titleTime {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px 0 20px;
  font-family: lato;
  &__title {
    max-width: 240px;
    font-size: 18px;
    font-weight: 400;
  }
  &__time {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    &--icon {
      padding-right: 10px;
    }
  }
}

.ingredients-description {
  display: flex;
  justify-content: space-between;
  margin-right: 18px;
  margin-left: 20px;
}

// .ingredients {

// }
.ingredients-list {
  margin: 0;
  width: 171px;
  height: 105px;
  padding: 0;
  list-style-type: none;
}

.ingredient {
  padding: 0;
  padding-right: 10px;
  font-size: 12px;
  font-family: "lato", sans-serif;
  font-weight: 700;
  &__quantity,
  &__unit {
    font-weight: 400;
  }
}

.description {
  width: 175px;
  height: 100px;
  font-size: 12px;
  font-family: "roboro", sans-serif;
  padding: 0;
  margin: 0;
  overflow: hidden;
  flex: 1;
  // text-overflow: ellipsis;
  margin: 0;
  &__text {
    width: 175px;
    height: 109px;
    margin: 0;
    // display: block;
    // -webkit-line-clamp: 8;
    // overflow: hidden;
    // text-overflow: ellipsis;
    // white-space: nowrap;
  }
}
